body{
    background-color: antiquewhite;
    min-width: 400px;
}

header{
    background-color: rgb(49, 71, 61);
    border-radius: 10px;
    border: 5px solid rgb(36, 6, 6);
    box-shadow: 8px 8px 12px rgb(41, 41, 38);
    margin: 1rem;
}
h1{
    text-align: center;
    font-size: 36px;
    text-decoration: underline;
    color: rgb(216, 216, 190);
}

#contenedor {
    background-color: rgb(190, 196, 194);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 1rem;
    row-gap: 2rem;
    padding: 1rem;
    margin: 1rem;
    border: 3px solid rgb(36,6,6);
    border-radius: 10px;
    box-shadow: 8px 8px 12px rgb(41, 41, 38);
}

.cuadrado {
    background-color: rgb(114, 129, 124);
    display: flex;
    flex-direction:column;
    align-items: center;
    border-radius: 10px;
    width: 50px;
    margin: 1rem;
    padding: 1rem;
    border: 3px solid rgb(15, 44, 4);
    box-shadow: 6px 6px 12px rgb(41, 41, 38);
}

.cuadrado h2{
    font-size: 22px;
    color: rgb(94, 11, 11);
}

.imgBomba {
    background-color: rgb(114, 129, 124);
    display: flex;
    flex-direction:wrap;
    align-items: center;
    border-radius: 10px;
    width: auto;
    margin: 1rem;
    padding: 1rem;
    border: 3px solid rgb(15, 44, 4);
    box-shadow: 6px 6px 12px rgb(41, 41, 38);
}

.imgBomba img{
    width: 500px;
    border-radius: 10px;

}

.imgBomba button{
    margin: 1rem;
    background-color: rgb(94, 11, 11);
    color:rgb(220, 220, 248);
    border-radius: 10px;
    font-size: 22px;
    border: 1px solid black;
    padding: 1rem;
    box-shadow: 4px 4px 8px black;
    font-weight:bold;
    
}

.imgBomba button:active{
    box-shadow: none;
    border-radius: 15px;
    border: 1px solid black;
    color:rgb(97, 95, 95);
    transform: scale(0.98);
    box-shadow: 1px 1px 2px black;
}

